<html>

<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
<title>Anonymous</title>
 


</head>

<body>

<form method="GET" action="/write">
  <div id="write" class="write-div">    
    <br><button  class="btn btn-primary">WRITE</button>
  </div>
</form>
<form method="GET" action="/read">
  <div id="read" class="read-div">
    <button  class="btn btn-primary">READ</button>
  </div>
</form>

<script src="first.js"></script>



</body>

</html>
